<form (submit)="loginUser($event)">
  <input type="text" placeholder="username" id="username">
  <input type="password" placeholder="password" id="password">
  <input type="submit" value="submit">
</form>