<form (submit)="RegisterUser($event)">
  <div class="container">
    <h3>Register</h3>
    <div>
      <input type="text" autocomplete="off" placeholder="username" id="username">
    </div>
    <div>
      <input type="password" autocomplete="off" placeholder="password" id="password">
    </div>
    <div>
      <input type="password" autocomplete="off" placeholder="Confirme password" id="cpassword">
    </div>
    <div>
      <button type="submit" id="submit">Regiter</button>
    </div>
  </div>
</form>